html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: solid 5px white;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.title {
    font:20px Open source;
    color: white;
}

.links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: left;
}

li {
    list-style: none;
}

a {
    color: white;

}