{% extends "navbar.html" %}
{% block content %}
    <head>
    <title>Welcome to MagicShop!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cardDetails.css">
    </head>

    <body>
        <div id="card">
            <img src={{cardDetails[4]}}>
            <div id="cardDetails">
                <p> Card name : {{cardDetails[0]}}</p>
                <p> Total mana cost : {{cardDetails[1]}}</p>
                <p> Rarity : {{cardDetails[2]}}</p>
                <p> Type : {{cardDetails[3]}}</p>
                <p> Price : 420$</p>
            </div>
        </div>
    </body>
{% endblock %}