{% extends "navbar.html" %}
{% block content %}
    <head>
    <title>Welcome to MagicShop!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/catalog.css">
    </head>

    <body>
        <form action="catalog" method="post">
            <div>
            Card to add to selection: <input type="text" name="cardName">
            <input type="submit" value="Add to Selection" name="soumettre">
                {% if message == "This card is not in the catalog" %}
                    <span style="color:red">{{ message }}</span>
                {% endif %}
                {% if message == "The card was added to your Selection" %}
                    <span style="color:wheat">{{ message }}</span>
                {% endif %}
            </div>
        </form>
        <div class="card-list">
            {% for item in card_info %}
            <form action="card_details/{{item[0]}}" method="post">
                <div class="card">
                    <input id="image_input" type="image" src={{item[4]}} alt="">
                    <input name="name" type="hidden" value="{{item[0]}}">
                    <input name="mana-cost" type="hidden" value="{{item[1]}}">
                    <input name="rarity" type="hidden" value="{{item[2]}}">
                    <input name="type" type="hidden" value="{{item[3]}}">
                    <input name="card-image" type="hidden" value="{{item[4]}}">
                </div>
            </form>
            {% endfor %}
        </div>
    </body>
{% endblock %}