{% extends "navbar.html" %}
{% block content %}
    <head>
        <title>Page d'accueil</title>
        <link rel="stylesheet" type="text/css" href="/../static/css/login.css">
        <script type="text/javascript" src="/../static/js/MonFichierCode.js"></script>
    </head>
    <body onload="SupprimerContenu()">
        <h1 class="centre">Connectez-vous avec votre compte</h1>
        <form action="login" method="post">
            <input type="email" placeholder="Courriel" name="courriel">
            <input type="password" placeholder="Mot de passe" name="motpasse">
            <input type="submit" value="Identification">
        </form>
        {% if message %}
        <div id="cadre">{{ message }}"</div>
        {% endif %}
    </body>
{% endblock %}