{% extends "navbar.html" %}
{% block content %}
    <head>
        <title>Page d'inscription</title>
        <link rel="stylesheet" type="text/css" href="../static/signup.css">
        <script type="text/javascript" src="../static/MonFichierCode.js"></script>
    </head>
<body onload="SupprimerContenu()">
    <h1>Créer votre compte</h1>
    <div style="text-align:center">
        <form action="signup" method="post">
            <p>
                Nom d'utilisateur <input type="text" name="nom">
                Courriel <input type="text" name="courriel"<br>
                Mot de passe <input type="text" name="motpasse"<br>
            </p><br>
        <input type="submit" value="Inscription" name="soumettre">
        </form>
    </div>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
</body>
{% endblock %}