{% extends "navbar.html" %}
{% block content %}
    <head>
        <title>Page d'inscription</title>
        <link rel="stylesheet" type="text/css" href="../static/signup.css">
        <script type="text/javascript" src="../static/MonFichierCode.js"></script>
    </head>
<body onload="SupprimerContenu()">
    <h1>Créer votre compte</h1>
        <form action="signup" method="post">
            <input class="champs" type="text" placeholder="Nom d'utilisateur" name="nom">
            <input class="champs" type="text" placeholder="Courriel" name="courriel">
            <input class="champs" type="text" placeholder="Mot de passe" name="motpasse">
            <input type="submit" value="Inscription">
        </form>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
</body>
{% endblock %}