{% extends "navbar.html" %}
{% block content %}
<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/../static/userDeck.css?v=1.9">
</head>
<body>
        {% if ownership == True %}
            <form action="/../user/{{ userMail }}/decks" method="post">
                <p>
                    New Deck name: <input type="text" name="deckName">
                    <input type="submit" value="Create" name="soumettre">
                </p>
            </form>
        {% endif %}
        <table>
          <tr>
              <th>Deck Name</th>
              <th>Number of cards</th>
              <th>Price</th>
          </tr>
            {% for item in userDeckList %}
            <tr >
               <th>
                   <form action="/../decks/{{item[1]}}">
                       <input class="deckName" type="submit" value="{{item[0]}}">
                   </form>
               </th>
                <th>{{item[2]}}</th>
                <th>{{item[3]}}$</th>
            </tr>
            {% endfor %}
        </table>
</body>
{% endblock %}